{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'skill' %}">skill</a>
        <a href="{% url 'contact' %}">Contact</a>
        
        
    </nav>
    <h1>{{message}}</h1>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
